*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'poppins', sans-serif;
  background-color: #f5f5f5;
}

.navbar .navbar-brand {
  font-weight: 900;
  font-size: 3rem;
  line-height: 72px;
  letter-spacing: 1px;
}

.navbar-brand, h2 {
  color: #121c33 !important;
}

.nav-pills a.nav-link.active  {
    color: #000 !important;
    background-color: #c0c0c0 !important;
}

.nav-text1, .nav-text2 {
  font-family: 'poppins', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

/* TabCharacter */
.nav-pills .show>.nav-link {
  background-color: #808080 !important;
  color: #fff !important;
}

.nav-link:focus, .nav-link:hover {
  color: #000 !important;
}

.dropdown .nav-link {
  background-color: #c0c0c0 !important;
  color: #000 !important;
}

/* CardView style Planet - Cardz*/

.Card-Container
{
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.grid {
  flex-basis: calc(25% - 18px);
}


.card-img {
  width: 200px !important;
  height: 200px !important;
}

.card-title {
  font-size: 14px !important;
  margin-top: 0 !important;
}

.Card-text {
  font-size: 12px;
}


/* CardBox Styles Character Cards*/
.grid2 {
  flex-basis: calc(25% - 18px);
}

.Card {
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  position: relative;
}

.Card-Text {
  line-height: 0.1;
  font-size: 10px;
}

.Card-Title {
  font-size: 14px;
}

.Add-Icon {
  width: 40px;
  height: 40px;
  background-color: #0a0a29;
  border-radius: 50px;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}

.planet-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* Modal Style */
.modal-content {
  border-radius: 20px !important;
}

.modal-content .modal-title {
  color: #212529;
  font-weight: 900; 
  font-family: 'poppins', sans-serif;
  font-size: 35px;
}


.modal-content .modal-body, .form-label {
  font-weight: 600;
  color: #212529;
  font-size: 15px;
}

.modal-footer .btn {
  color: #212529;
  font-weight: 600;
  font-size: 12px;
  font-family: 'poppins', sans-serif;
}

/* Planet Popup */
.card-container{
  position: fixed;
  top: 0;
  right: 0;
  transform: translate(100%);
}

.card-container .card {
  border-radius: 20px;
}

.p-width {
  width: calc(100% - 200px);
}

.show-pwidth {
  width: 100%;
}

.show-cardcontainer {
  transform: translate(0);
}

.square {
  width: 27px;
  height: 27px;
  border-radius: 5px;
  background-color: #dcdcdc;
  padding-left: auto;
}

.card-text  {
  font-size: 12px;
  font-weight: 200;
}

.card-txt, .list-box .img-name  {
  font-size: 14px;
}

.txt {
  font-size: 12px;
}

.img1 img {
  height: 58px !important;
  width: 65px !important;
  border-radius: 5Px;
}

.list-box .list-txt{
  margin-left: 15px;
}

.list-box .img-para {
  font-size: 10px;
  font-weight: 600;
}


/* Character Popup */

.alpha-content {
  display: flex;
  flex-direction: row;
}

.alpha-content .alpha-txt {
  margin-right: 90px;
}



/* CardView style Planet - Cardz*/

@media screen and (max-width: 1028px) {
  .card-img {
    width: 140px !important;
    height: 140px !important;
  }
}

@media screen and (max-width: 780px) {
  .grid {
    flex-basis: calc(33.3% - 40px);
  }

  .card-img {
    width: 140px !important;
    height: 140px !important;
  }
}


@media screen and (max-width: 500px) {
  .grid {
    flex-basis: calc(50% - 22px);
  }

  .card-img {
    width: 110px !important;
    height: 110px !important;
  }
}

@media screen and (max-width: 380px){
  .grid {
    flex-basis:auto;
  }

  .card-img {
    width: 150px !important;
    height: 150px !important;
  }
}


/* CardBox Styles Character Cards*/
@media screen and (max-width: 780px) {
  .grid2 {
    flex-basis: calc(33.3% - 40px);
  }
}

@media screen and (max-width: 500px) {
  .grid2 {
    flex-basis: calc(50% - 40px);
  }

  @media screen and (max-width: 380px){
    .grid2 {
      flex-basis:auto;
    }
  }

  .Card-Text {
    font-size: 9px;
  }
  
  .Card-Title {
    font-size: 12px;
  }
}

@media screen and (max-width: 376px) {
   /* popup */
   .card-container .card-pop{
    width: 20rem !important;
  }
}

@media screen and (max-width: 350px){
  .grid2 {
    flex-basis:auto;
  }

  .Card-Text {
    line-height: 0.1;
    font-size: 10px;
  }
  
  .Card-Title {
    font-size: 14px;
  }
  
  /* popup */
  .card-container .card-pop{
    width: 18rem !important;
  }


}